.fd-dist-tab {
  text-decoration: none;
  background-color: var(--theme-elevation-200);
  padding: 12px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;

  &:hover {
    background-color: var(--theme-elevation-300);
  }

  .image {
    background-color: #fff;
    border-radius: 16px;
  }
}

// hack to hide the default "Edit" tab in admin panel
// todo: figure out how to achieve that with payload.config
.doc-tab {
  display: none;
}